body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 230, 230);
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
  font-size: x-large;
  color: rgb(80, 80, 80);
  text-align: left;
}
h3{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  color: rgb(80, 80, 80);
  
   &:hover{
    cursor: pointer;
  }
}
h4,h5,h6{
  color: rgb(52, 52, 52);
}

p{
  color: #e9e9e9;
  font-weight: 500;
  
}
a{
  text-decoration: none;
  font-weight: 500;
  color: rgb(80, 80, 80);

}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(115, 115, 115); 
  border-radius: 10px;
}

